.weather-details{
    font-weight: 800;
}

.img-info-container{
    justify-content: center;
    display: flex;
}

.waiting-container{
    display: flex;
    justify-content: center;
}

.waitingForData{
    background-color:#FFF5F5 ;
    border-radius: 90px;
    padding: 20px 30px 50px 30px;
    font-size: 30px;
    font-weight: 900;
    margin: 100px 20px 0 20px;
    text-align: center;
    align-items: center;
    max-width: 800px;
}

.waiting-packman{
    display: flex;
    justify-content: center;
}

.img-info{
    display: inline-flex;
    border-radius: 200px;
    vertical-align: middle;
    background-color: #FFF5F5;
    width: 100%;
    max-width: 700px;
    justify-items: center;
    margin: 50px 30px 10px 30px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
}

.weather-logo{
    vertical-align: middle;
}

.weather-logo img{
    border-radius: 50%;
    height: 100%;
    background-color: #EE777F;
}


.time-temp-desc{
    margin: 0px;
    vertical-align: top;
    line-height: 50px;
    margin-left: 20%;    
}

.selected-location{
    text-align: center;
    /* font-size: 30px; */
    margin-top: 10px;
}

.temp{
    font-size: 60px;
    text-align: center;
}

.weather-desc{
    font-size: 25px;
    text-align: center;
    text-align: center;
    margin: 3px 0 10px 0;
}

.temp img{
    margin: 5px -15px 0px 25px;
}

.pres-hum{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pres-hum img{
    height: 48px;
    width: 48px;
}

.pres-hum .humidity, .pres-hum .dew-point{
    /* margin-left: 10px; */

}

.pres-hum li{
    width: 111px;
    height: 111px;
    border-radius: 18px;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-right: 30px;
    padding-top: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.64);
}

.pres-hum p{
    margin: 0 auto;
    margin-top: -30px;
    height: 31px;
    width: 111px;
    line-height: 30px;
    text-align: center;
    border-radius: 0 0 18px 18px;
    background-color: #FFF5F5;
    margin-right: 30px;
}

.pres-hum .pressure{
    background: #1D2343;

}

.pres-hum .humidity{
    background: #EE777F;

}

.pres-hum .dew-point{
    background: #65BDC0;

}

.timezone{
    font-size: 23px;
    margin-left: 20px;
    text-align: center;
}

@media (max-width: 481px) {

    .main-wrapper{
        max-width: 480px;
    }

    .pressure-container, .humidity-container, .dew-container{
        display: grid;
        justify-content: center;

    }

    .pres-hum{
        display: unset;
    }

    .pres-hum p {
        margin: 0 auto;
        margin-top: -30px;
        height: 31px;
        width: 111px;
        line-height: 30px;
        text-align: center;
        border-radius: 0 0 18px 18px;
        background-color: #FFF5F5;
        margin-bottom: 20px;
        display: table-caption;
    }

    .pres-hum li{
        margin-right: 0;
    }

    
 }


