.weather-details{

    font-weight: 800;
}

.img-info-container{

    justify-content: center;
    display: flex;
}

.waiting-container{

    display: flex;
    justify-content: center;
}

.waitingForData{

    background-color:#FFF5F5 ;
    border-radius: 90px;
    padding: 20px 30px 50px 30px;
    font-size: 30px;
    font-weight: 900;
    margin: 100px 20px 0 20px;
    text-align: center;
    align-items: center;
    max-width: 800px;
}

.waiting-packman{

    display: flex;
    justify-content: center;
}

.img-info{

    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    align-items: center;
    max-width: 500px;
    justify-content: center;
    margin: 50px 30px 10px 30px;
}

.weather-logo{

    vertical-align: middle;
    height: 200px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
}

.weather-logo img{

    border-radius: 50%;
    height: 100%;
    background-color: #EE777F;
}


.time-temp-desc{

    vertical-align: top;
    line-height: 1.4;
    padding-left: 50px;
    text-align: left;
}

.selected-location{

    margin-top: 10px;
}

.temp{
    
    padding: 15px 0;
    font-size: 35px;
    display: flex;
    align-items: center;
    height: 30px;
}

.temp-cel, .temp-fah{

    display: flex;
}

.temp-fah, .temp-fah-unit{

    display: none;
}

.weather-desc{

    font-size: 25px;
    margin: 3px 0 10px 0;
}

.temp-cel img, .temp-fah img{

    margin-top: 10px;
    height: 60px;
}

.pres-hum{

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.pres-hum img{

    height: 48px;
    width: 48px;
}

.pres-hum li{

    width: 111px;
    height: 111px;
    border-radius: 18px;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-right: 30px;
    padding-top: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.64);
}

.pres-hum p{

    margin: 0 auto;
    margin-top: -30px;
    height: 31px;
    width: 111px;
    line-height: 30px;
    text-align: center;
    border-radius: 0 0 18px 18px;
    background-color: #FFF5F5;
    margin-right: 30px;
}

.pres-hum .pressure{

    background: #1D2343;
}

.pres-hum .humidity{

    background: #EE777F;
}

.pres-hum .dew-point{

    background: #65BDC0;
}

.timezone{

    font-size: 23px;
    margin-top: 10px;
}

.date-display-small{
    display: none;
}


@media (max-width: 480px) {

    .main-wrapper{

        max-width: 480px;
    }

    .pressure-container, .humidity-container, .dew-container{

        display: grid;
        justify-content: center;
    }

    .pres-hum{

        display: unset;
    }

    .pres-hum p {

        margin: 0 auto;
        margin-top: -30px;
        height: 31px;
        width: 111px;
        line-height: 30px;
        text-align: center;
        border-radius: 0 0 18px 18px;
        background-color: #FFF5F5;
        margin-bottom: 20px;
        display: table-caption;
    }

    .pres-hum li{

        margin-right: 0;
    }

    .time-temp-desc{

        vertical-align: top;
        line-height: 1.4;
        padding-left: 0px;
        text-align: center;
    }

    .timezone{

        font-size: 15px;
        margin-bottom: 10px;
    }

    .temp{
        font-size: 38px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .temp img{
        margin-top: -4px;
        height: 30px;
        padding-right: 10px;
    }

    .weather-desc{

        font-size: 21px;
        margin: 3px 0 2px 0;
    }

    .weather-logo{

        display: flex;
        justify-content: center;
        height: unset;
    }

    .weather-logo img{

        height: 150px;
        margin: 3px 0 2px 0;
    }

    .img-info{

        display: unset;
    }

    .time-temp-desc-container{

        display: flex;
        justify-content: center;
        text-align: center;
    }

    .selected-location{

        margin-top: 17px;
        font-size: 16px;
    }

    .date-display{

        display: none;
    }

    .date-display-small{

        display: inline;
        text-align: center;
        color: #65BDC0;
        font-size: 15px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: 900;
        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.1));
    }
 }


