.weather-details{
    font-weight: 800;
}

.img-info-container{
    justify-content: center;
    display: flex;
}

.waiting-container{
    display: flex;
    justify-content: center;
    /* max-width: 800px; */
}

.waitingForData{
    background-color:#FFF5F5 ;
    border-radius: 90px;
    padding: 20px 30px 50px 30px;
    font-size: 30px;
    font-weight: 900;
    margin: 100px 20px 0 20px;
    text-align: center;
    align-items: center;
    max-width: 800px;
}

.waiting-packman{
    display: flex;
    justify-content: center;
}

.img-info{
    display: inline-flex;
    /* padding: 10px 10px 10px 0; */
    border-radius: 120px;
    /* width: 1000px; */
    /* justify-self: center; */
    /* color: white; */
    vertical-align: middle;
    background-color: #FFF5F5;
    width: 100%;
    max-width: 600px;
    justify-items: center;
    margin: 50px 30px 10px 30px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
}

.weather-logo{
    vertical-align: middle;
}

.weather-logo img{
    /* float: left;  */
    border-radius: 50%;
    /* padding: 30px; */
    height: 100%;
    background-color: #EE777F;
    /* /* margin-bottom: -4px; */
}


.time-temp-desc{
    /* float: right;  */
    /* text-align: end; */
    margin: 0px;
    vertical-align: top;
    /* margin: 25px 30px 0 10px; */
    line-height: 50px;
    
}

.temp{
    font-size: 60px;
    /* justify-content: center; */
    /* align-items: baseline; */
    text-align: center;
    /* padding-top: 5px; */
}

.weather-desc{
    font-size: 25px;
    /* text-align: right; */
    /* padding-top: 5px; */
}

.temp img{
    margin-top: 5px;
}

.pres-hum{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pres-hum img{
    height: 48px;
    width: 48px;
}

.pres-hum .humidity, .pres-hum .dew-point{
    /* margin-left: 10px; */

}

.pres-hum li{
    width: 111px;
    height: 111px;
    border-radius: 18px;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-right: 30px;
    padding-top: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.64);
}

.pres-hum p{
    margin: 0 auto;
    margin-top: -30px;
    height: 31px;
    width: 111px;
    line-height: 30px;
    text-align: center;
    border-radius: 0 0 18px 18px;
    background-color: #FFF5F5;
    margin-right: 30px;
    /* filter: drop-shadow(0px 4px 10px rgba(238, 119, 127, 0.6)); */
}

.pres-hum .pressure{
    background: #1D2343;

}

.pres-hum .humidity{
    background: #EE777F;

}

.pres-hum .dew-point{
    background: #65BDC0;

}

.timezone{
    font-size: 23px;
    text-align: right;
}



