*{

    font-family: comfortaa;
    text-decoration: none;
    list-style: none;
}

.location-search-box{
    /* flex: left; */
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}